
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .movieInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .imageSection {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .poster {
    width: 100%;
    max-width: 400px;
    height: auto; 
  }
  
  .watchButton {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.35s ease;
  }
  
  .ratingSection {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .star {
    cursor: pointer;
  }
  
  .filledStar {
    fill: gold;
  }
  
  .description {
    width: 100%; 
    padding: 20px; 
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
  }
  
  .description h2 {
    margin-bottom: 10px;
  }
  
  .description p {
    font-size: 16px;
    line-height: 1.5;
  }

  .favoriteButtonContainer {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .favoriteButtonLabel {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .favoriteButton {
    width: 32px;
    height: 32px;
  }
  
  @media (min-width: 768px) {
    .movieInfo {
      flex-direction: row; 
    }
  
    .description {
      width: 70%;
    }
  }