
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .movieInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .imageSection {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .poster {
    width: 100%;
    max-width: 400px;
    height: auto; 
  }
  
  .watchButton {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.35s ease;
  }
  

  .favoriteButton {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .ratingSection {
    padding-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .star {
    cursor: pointer;
    fill: transparent;
    stroke-width: 0.3;
    transition: all 0.25s ease;
  }

  .filledStar {
    fill: gold;
    stroke-width: 0;
  }

  .filledStar:hover {
    scale: 1.4;
    animation: star-animation 1s ease-in-out infinite;
  }
  
  .description {
    width: 100%; 
    padding: 20px; 
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
  }
  
  .description h2 {
    margin-bottom: 10px;
  }
  
  .description p {
    font-size: 16px;
    line-height: 1.5;
  }

  .favoriteButtonContainer {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .favoriteButtonLabel {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .heartButton {
    fill: transparent;
    width: 32px;
    height: 32px;
    scale: 1;
    stroke-width: 0.4;
    stroke-dasharray: 55;
    stroke-dashoffset: 0;
    transition: all 300ms ease-in-out;
  }

  .heartButton:hover {
    stroke-width: 0.3;
    scale: 1.2;
    animation: heart-hover ease-in-out 0.5s;
  }

  .filledHeart {
    stroke-width: 0;
    fill: red;
    animation: heart-animation ease-in-out 1.5s infinite;
  }


  @keyframes heart-hover {
    0% {
      transform: 0;
    }

    25% {
      transform: translateX(1px);
    }

    50% {
      transform: 0;
    }

    75% {
      transform: translateX(-2px);
    }

    100% {
      transform: 0;
    }
  }

  @keyframes heart-animation {
    0% {
      scale: 1;
    }

    50% {
      scale: 1.25;
    }

    100% {
      scale: 1;
    }
  }

  
  @media (min-width: 768px) {
    .movieInfo {
      flex-direction: row; 
    }
  
    .description {
      width: 70%;
    }
  }