.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .movieInfo {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .imageSection {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .poster {
    width: 400px;
    height: 500px;
  }
  
  .watchButton {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.35s ease;
  }

  
  .closeButton {
    color: white;
    background-color:orangered;
  }

  
  .ratingSection {
    padding-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .starFilled {
    font-size: 30px;
    color: #f0ad4e;
  }
  
  .starEmpty {
    color: #ccc;
  }
  
  .description {
    width: 70%;
  }
  
  .description h2 {
    margin-bottom: 10px;
  }
  
  .description p {
    font-size: 16px;
    line-height: 1.5;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .video-container {
    animation: fade-in 1s ease-in-out;
  }
  
  .video-hidden {
    animation: fade-out 1s ease-in-out;
  }