.headerContainer {
    background-color: rgb(35, 32, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial;
  }


  .leftSection {
    display: flex;
    align-items: center;
    color: white;
  }


  .burgerButton {
    color: azure;
    font-size: 25px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
  }

  .siteName {
    font-size: 25px;
    font-weight: 700;
    padding-left: 10px;
    cursor: pointer;
  }

  .centerSection {
    display: flex;
    align-items: center;
  }
  
  .searchInput {
    padding: 5px;
    margin-right: 10px;
    border: none;
    outline: 0;
    border-radius: 10px;
    background-color: darkgray;
    width: 300px;
    height: 25px;
    box-shadow: 0;
    transition: box-shadow 0.3s ease-in-out, background-color 0.25s ease-in-out;
  }

  .searchInput:hover {
    box-shadow: -2px -1px 8px rgba(179, 0, 255), 2px 1px 8px yellow;
  }
  
  .searchInput:focus {
    background-color: aliceblue;
  }
  
  
  .rightSection {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .iconNotification {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  
  .avatar {
    width: 30px;
    height: 30px;
    background-color: #ddd; /* Серый цвет */
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    /* Вставьте фактическое изображение пользователя как фон */
    /* background-image: url('path-to-avatar-image.jpg'); */
    /* background-size: cover; */
  }


  .dropMenu {
    opacity: 0;
    transform: translateX(150px);
    transition: opacity .25s ease-in-out, transform .6s ease-in-out;
    position: absolute;
    top:-22px ;
    right: -10px;
    background-color: rgb(35, 32, 30);
    border-radius: 15px; /* Радиус скругления углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 10px; /* Внутренний отступ сверху и снизу */
    padding-top: 18px;
    min-width: 220px;
    cursor: default;
    pointer-events: none;
  }
  
  .menuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  
  .menuAvatar {
    background-color: #ddd;
    border: 3px solid orange;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .userName {
    font-family: Arial;
    color:white;
    font-size: 25px;
    cursor: pointer;
  }

  .userEmail {
    font-family: Arial;
    color:white;
    font-size: 13px;
  }
  
  .menuItem * {
    display: block;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
    
    color:white;
    font-family: Arial;
    text-decoration: none;
  }
  
  .menuItem *:hover {
    background-color: gray;
    border-radius: 5%;
    transition: 0.2s ease;
  }

  
  .avatar:hover .dropMenu {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
