.headerContainer {
  position: sticky;
  padding: 10px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgb(36, 38, 43);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s linear;
}

.hiddenNavbar {
  position: sticky;
  top: -86px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  z-index: 100;
  transition: top 0.3s linear;
}

.leftSection {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: azure;
  gap: 20px;
  user-select: none;
}

.sideBar {
  display: block;
}

.burgerInput {
  display: none;
}

.burgerButton {
  font-size: 26px;
}

.dropSideBar {
  opacity: 0;
  backdrop-filter: blur(5px);
  position: absolute;
  top: calc(100%);
  left: 10px;
  border: 2px outset white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  max-width: 230px;
  max-height: 150px;
  cursor: default;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out;
  pointer-events: auto;
}

.dropSideBarHide {
  opacity: 0;
}

.burgerInput:checked ~ .dropSideBar {
  opacity: 1;
}

.siteName {
  color: azure;
  font-size: 30px;
  font-weight: 600;
  padding-left: 10px;
  cursor: pointer;
  text-decoration: none;
}

.siteName:hover {
  transform: scale(1.1) translateX(10px);
  animation: text-gradient 0.3s ease;
  transition: transform 0.25s ease;
}

.centerSection {
  display: flex;
  align-items: center;
  user-select: none;
}

.rightSection {
  position: relative;
  display: flex;
  align-items: center;
}

.iconNotification {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.logInButton {
  width: 100px;
  height: auto;
  text-align: center;
  padding: 5%;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  background-color: darkmagenta;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  text-align: center;
  user-select: none;
}

.dropMenu {
  position: absolute;
  top: -30%;
  right: -10%;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
  max-height: 250px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  cursor: default;
  pointer-events: none;
}

.dropMenuVisible {
  opacity: 1;
  pointer-events: auto;
}

.dropMenuHide {
  opacity: 0;
  pointer-events: none;
}

.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.menuAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-left: 5px;
  border: 3px solid transparent;
  background: linear-gradient(100deg, darkmagenta 30%, darkblue 100%);
  background-position: 55%;
  background-size: 200px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  user-select: none;
}

.userName {
  color: white;
  font-size: 28px;
  position: relative;
}

.userEmail {
  color: white;
  font-size: 18px;
  padding-top: 2px;
}

.menuItem span {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25px;
  padding: 8px;
  cursor: pointer;
  color: white;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
}

.link {
  text-decoration: none;
}

.menuItem span:hover {
  transition:
    color 0.3s ease-in,
    text-shadow 0.3s ease-in;
  animation: squish 0.4s ease-in-out;
}

.newPostButton {
  text-decoration: none;
}

@keyframes squish {
  50% {
    scale: 1.1;
  }
}

@media (min-width: 768px) {
  .centerSection {
    padding-right: 100px;
  }
}

@media (max-width: 1280px) {
  .burgerButton {
    display: var(--burgerVisible);
  }
}

@media (max-width: 768px) {
  .burgerButton {
    padding-left: 10px;
  }

  .logInButton {
    width: 70px;
    height: auto;
    padding: 5px 5px;
    font-size: 18px;
    border-radius: 5px;
  }

  .dropSideBar {
    padding: 5px;
    width: 100%;
    max-width: 150px;
    max-height: 130px;
  }

  .menuItem span {
    height: 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .dropMenu {
    top: 122%;
    right: -15%;
    border: 2px outset white;
    padding: 10px;
    min-width: 100px;
    max-height: 150px;
  }

  .siteName {
    display: none;
  }

  .searchInput {
    width: 150px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }

  .menuAvatar {
    display: none;
  }

  .menuHeader {
    margin-bottom: 2px;
  }

  .userName {
    font-size: 20px;
  }

  .userEmail {
    font-size: 10px;
  }
}
