.headerContainer {
  background-color: rgb(35, 32, 30);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Franklin Gothic Medium';
}

.leftSection {
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
}

.sideBar {
  display: block;
}

.burgerButton {
  color: azure;
  font-size: 25px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.siteName {
  font-size: 25px;
  font-weight: 600;
  padding-left: 10px;
  cursor: pointer;
}

.siteName:hover {
  text-shadow: 0 0 5px orange;
  transition:
    text-shadow 0.3s ease,
    font-size 0.3s ease;
  animation: squish 300ms ease-in-out;
}

@keyframes squish {
  50% {
    scale: 1.1;
  }
}

.centerSection {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 5px;
  margin-right: 10px;
  border: none;
  outline: 0;
  border-radius: 10px;
  background-color: darkgray;
  width: 300px;
  height: 25px;
  box-shadow: 0;
  transition:
    box-shadow 0.3s ease-in-out,
    background-color 0.25s ease-in-out;
}

.searchInput:hover {
  box-shadow:
    -2px -1px 8px rgba(179, 0, 255),
    2px 1px 8px yellow;
}

.searchInput:focus {
  background-color: aliceblue;
}

.rightSection {
  position: relative;
  display: flex;
  align-items: center;
}

.iconNotification {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.dropSideBar {
  opacity: 0;
  position: absolute;
  top: calc(100%);
  left: 10px;
  background-color: rgb(94, 93, 93);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  max-width: 230px;
  max-height: 150px;
  cursor: default;
  pointer-events: none;
}

.sideBarVisible {
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
  pointer-events: auto;
}

.avatar {
  width: 55px;
  height: 55px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.dropMenu {
  position: absolute;
  top: -30%;
  right: -10%;
  background-color: rgb(35, 32, 30);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
  max-height: 250px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  cursor: default;
  pointer-events: none;
}

.dropMenuVisible {
  opacity: 1;
  pointer-events: auto;
}

.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 5px;
}

.menuAvatar {
  margin-left: 5px;
  background-color: #ddd;
  border: 3px solid orange;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 5px;
}

.userName {
  font-family: Arial;
  color: white;
  font-size: 25px;
}

.userEmail {
  font-family: Arial;
  color: white;
  font-size: 13px;
}

.menuItem span {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25px;
  padding: 8px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.menuItem span:hover {
  color: darksalmon;
  transition: color 0.3s ease-in;
  animation: squish 0.3s ease-in-out;
}

.newPostButton {
  text-decoration: none;
}

@keyframes squish {
  50% {
    scale: 1.2;
  }
}

@media (min-width: 1280px) {
  .burgerButton {
    display: none;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 10px;
  }

  .burgerButton {
    padding-left: 10px;
  }

  .dropMenu {
    top: 120%;
    right: -50%;
  }
  .siteName {
    display: none;
  }

  .searchInput {
    width: 150px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .menuAvatar {
    width: 50px;
    height: 50px;
  }

  .userName {
    font-size: 20px;
  }

  .userEmail {
    font-size: 10px;
  }
}
