.container {
  margin: 10px;
  position: relative;
  height: auto;
  max-width: 830px;
  }

.content {
  display: flex;
  gap: 10px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}


.container .rightScrollButton,
.container .leftScrollButton{
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border:none;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color:gray;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
  transition: color 0.25s ease, translate .35s ease;
}


.leftScrollButton {
  display: flex;
  justify-content: center;
  align-items: center;
  left: -20px;
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.rightScrollButton {
  display: flex;
  justify-content: center;
  align-items: center;
  right: -20px;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
}

.leftScrollButton:hover {
  translate: -4px;
  color: black;
  /* animation: squish 200ms ease-in-out; */

}

.rightScrollButton:hover {
  translate: 4px;
  color: black;
  /* animation: squish 200ms ease-in-out; */
}

.arrowButton {
  scale: 1.4;
}


@keyframes squish {
  50% {
    scale: 1.2 0.7
  }
}

@media (max-width:1024px) {
  .container {
    max-width: 620px;
  }
}

@media (max-width:768px) {
  .container {
    max-width: 410px;
  }
}

@media (max-width: 530px) {
  .container {
    max-width: 200px;
  }
}