.userPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.avatarContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.fullName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.commentList {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  gap: 10px;
}

.commentItem {
  background-color: transparent;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  color: azure;
}

.image {
  height: 46vmin;
  width: 100%;
  border-radius: 10px;
}

.movieName {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 10px;
}

.reviewText {
  padding: 10px 15px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
}

.changeAvatarButton {
  padding: 10px;
  background-color: darkmagenta;
  max-width: 150px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darkblue;
  }

  &:disabled {
    background-color: darkred;
    cursor: not-allowed;
  }
}

@media screen and (max-width: 600px) {
  .avatar {
    width: 150px;
    height: 150px;
  }

  .fullName {
    font-size: 20px;
  }

  .commentItem {
    padding: 10px;
  }

  .movieName,
  .reviewText {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 400px) {
  .avatar {
    width: 120px;
    height: 120px;
  }

  .fullName {
    font-size: 18px;
  }

  .commentItem {
    padding: 8px;
  }

  .movieName,
  .reviewText {
    padding: 6px 10px;
  }
}
