.leftMenu {
  position: sticky;
  padding: 20px;
  top: 75px;
  width: 250px;
  height: 200px;
  }
  

.icon {
    font-size: 20px;
    margin-right: 10px;
    /* border-bottom: 3px solid orange */
  }

  .menuItem {
    height: 45px;
  }

  .menuItem:hover span{
    color:white;
    text-shadow: 0 0 2px white;
    transition: color 0.35s ease-in, text-shadow .35s ease-in;
  }

  .tooltip {
    position: absolute;
    text-align: center;
    background-color:gray;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin-left: 10px;
    left: 0;
    z-index: -1;
    top: 0;
    display: none;
    transition: top 0.35s ease 0s;
  }

  .menuItem:hover  ~ .tooltip  {
    display: block;
  }

  .menuItem:nth-child(1):hover ~ .tooltip {
    top: 5%;
  }

  .menuItem:nth-child(2):hover ~ .tooltip {
    top: 23.5%;
  }

  .menuItem:nth-child(3):hover ~ .tooltip {
    top: 42.5%;
  }
  .menuItem:nth-child(4):hover ~ .tooltip {
    top: 61%;
  }
 