.container {
    display: flex;
}

.box {
    height: 60px;
    width: 250px;
    padding: 10px;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(18, 23, 33, .12);
}

.Years {
    flex-direction: column;
    padding-left: 6px;
}

.slider {
    padding: 5px;
}

.sliderLine {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.thumb {
    z-index: 0;
    top: -10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid orange;
    background-color: orange;
}