.root {
    width: 100%;
    min-height: 800px;
    border-left: 1px solid gray;
    padding: 16px; 
  }
  
  @media (max-width: 768px) {
    .root {
      border:none; 
      padding: 16px; 
      min-height: auto; 
    }
  }