.sliderContainer {
  border-radius: 10px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.imageTrack {
  display: flex;
  transform: translateX(0%);
  position: absolute;
  user-select: none;
}

.image {
  object-fit: cover;
  object-position: 100% center;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .sliderContainer {
    margin: 0 5px;
  }
}
