.moviesContainer {
    margin-top: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 200px);
    gap:15px;
    transition: all 0.5s ease;
}

.NameFilter {
    margin: 15px;
    display: flex;
    flex-direction: column; /* Изменение направления на столбец */
    font-family: sans-serif;
    font-weight: bold;
  }

.section {
    flex-direction: 'column';
    padding-top: 5px;
    padding-left: 10px;
}

.text{
    font-size: larger;
}

.checkboxContainer {
    padding: 10px;
    display: flex;
    align-items: center;
}

.checkboxInput {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .checkboxText {
    font-weight: 400;
    font-size: 16px;
    color: #333;
  }



.select{
    margin-top: 10px;
}

.sectionNumber {
    display: flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .section {
      padding-top: 10px;
      padding-left: 0; /* Уменьшение отступа слева */
    }
  
    .checkboxContainer {
      padding: 5px;
    }
  }
  
  /* Дополнительные стили для .moviesContainer при мобильной версии */
  @media (max-width: 768px) {
    .moviesContainer {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Гибкая сетка */
      gap: 10px;
    }
  }