.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.moviesContainer {
  margin: 30px 0px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(47vmin, 1fr));
  gap: 20px;
  transition: all 0.5s ease;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 10px;
  font-weight: bold;
  font-size: 22px;
}

.filterHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.filterNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  background: linear-gradient(-45deg, darkmagenta 40%, darkblue 100%);
  border-radius: 50%;
}

.text {
  font-size: larger;
  color: white;
}

.selectSection {
  padding-left: 55px;
  width: min(280px, 80%);
}

.searchInput {
  width: min(90%, 200px);
  height: 35px;
  border-radius: 5px;
  border: 3px solid black;
  outline: none;
}

.searchInput:focus {
  border-color: darkmagenta;
}

.checkboxContainer {
  margin: 15px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkboxInput {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  opacity: 0;
}

.tick {
  color: transparent;
  position: absolute;
  z-index: 1;
}

.checkedTick {
  color: white;
}

.checkboxInput + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkboxInput + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  z-index: 0;
}

.checkboxInput:checked + label::before {
  border-color: darkmagenta;
  background-color: darkmagenta;
}

.checkboxText {
  font-weight: 500;
  font-size: 20px;
  color: darkgray;
}

.buttonToTop {
  position: fixed;
  bottom: 15%;
  right: 4%;
}

@media (max-width: 768px) {
  .moviesContainer {
    grid-template-columns: repeat(auto-fit, minmax(44vmin, 1fr));
    gap: 5px;
  }

  .selectSection {
    padding-left: 0px;
  }

  .container {
    flex-direction: column;
  }

  .checkboxContainer {
    padding: 5px;
  }

  .select {
    max-width: 200px;
  }
}
