.loader {
  position: absolute;
  left: 42.5%;
  top: 20%;
  background-color: transparent;
  z-index: 2;
}

@media (max-width: 768px) {
  .loader {
    left: 20%;
    top: 10%;
  }
}
@media (max-width: 400px) {
  .loader {
    left: 14%;
    top: 10%;
  }
}
