.loader {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 2;
}

@media (min-width: 1280px) {
  .loader {
    display: block;
    top: 20%;
    left: 43%;
    width: auto;
  }
}
