:root {
  --size: 300px;
  --s: calc(var(--size) / 6);
  --border: calc(var(--size) / 20);
  --boxShadow: calc(var(--size) / 12);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container span {
  font-size: 25px;
  font-weight: 500;
  background: linear-gradient(100deg, aliceblue, blueviolet, aliceblue, blueviolet);
  background-size: 350%;
  background-clip: text;
  color: transparent;
  position: absolute;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.circle {
  width: var(--size);
  height: var(--size);
  filter: url(#wavy) blur(1px);
}

.circle:before,
.circle:after {
  content: '';
  position: absolute;
  top: var(--s);
  left: var(--s);
  right: var(--s);
  bottom: var(--s);
  border-radius: 50%;
  border: var(--border) solid #fff;
}

.circle:before {
  box-shadow:
    0 0 var(--boxShadow) #8a2be2,
    inset 0 0 var(--boxShadow) #8a2be2;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0002);
  animation: move 2s linear infinite;
}

.circle:after {
  box-shadow:
    0 0 calc(var(--border) / 2) #fff,
    inset 0 0 var(--border) #fff;
}

@keyframes move {
  0% {
    box-shadow:
      0 0 var(--boxShadow) #8a2be2,
      inset 0 0 var(--boxShadow) #8a2be2;
    filter: hue-rotate(0deg);
  }
  20% {
    box-shadow:
      0 0 10px #8a2be2,
      inset 0 0 10px #8a2be2;
  }

  40% {
    box-shadow:
      0 0 20px #8a2be2,
      inset 0 0 20px #8a2be2;
  }
  60% {
    box-shadow:
      0 0 40px #8a2be2,
      inset 0 0 40px #8a2be2;
  }
  80% {
    box-shadow:
      0 0 60px #8a2be2,
      inset 0 0 60px #8a2be2;
  }
  100% {
    box-shadow:
      0 0 var(--boxShadow) #8a2be2,
      inset 0 0 var(--boxShadow) #8a2be2;
    filter: hue-rotate(360deg);
  }
}

.svgCircle {
  width: 0;
  height: 0;
}
