* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 12%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(-16deg) rotateY(15deg);
  z-index: 2;
  user-select: none;
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
  user-select: none;
}

.banner .slider .item .image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  user-select: none;
}

@media (max-width: 1024px) {
  .banner .slider {
    width: 180px;
    height: 200px;
    left: calc(50% - 90px);
  }
  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(500px);
  }
}

@media (max-width: 768px) {
  .banner .slider {
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
  }

  .banner .slider .item .image {
    height: 120px;
  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(400px);
  }
}
@media (max-width: 540px) {
  .banner .slider {
    width: 100px;
    height: 80px;
    left: calc(50% - 45px);
    top: 16%;
  }

  .banner .slider .item .image {
    height: 80px;
  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(260px);
  }
}
@media (max-width: 340px) {
  .banner .slider {
    width: 85px;
    height: 50px;
    left: calc(50% - 40px);
  }

  .banner .slider .item .image {
    height: 65px;
  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(230px);
  }
}
